<header>
    <ul>
        <li> <span class='icon'><a href="#"><i class="material-icons" aria-hidden="true">menu</i></a>
        </span></li>
        <li>การฝึกอบรม</li>

        <li *ngIf="loggedIn"><div class="avatar"  routerLink="profile"><img class="avatar__image" 
            
            src="https://image.shutterstock.com/image-vector/avatar-businesswoman-portrait-circle-vector-260nw-572528593.jpg" /> </div></li>
        <li *ngIf="loggedIn">เจ้าหน้าที่บุคคล</li>
        <li *ngIf="loggedIn">นางสาวอิอิ อิอิ</li>
        <li *ngIf="loggedIn">1292468</li>
  
    </ul>


</header>