<section>
    <div clss="title">หลักสูตรอบรม</div>
    <div class="box">
        <div class="container">
            <div class="date"><b>วันที่ {{date}} </b></div>
            <div class="details"><b>รายละเอียด :</b> &nbsp; {{details}}</div>
            <div class="Trainer"><b>ผู้อบรม :</b>&nbsp;  {{trainer}}</div>
            <div class="hour"><b>ชั่วโมง :</b> &nbsp; 8 ช.ม.</div>
            <div class="location"><b>สถานที่ :</b> &nbsp; {{location}}</div>
            <div class="time"><b>เวลา :</b>&nbsp; 8.00-17.00 น.</div>
            <div class="button"><button class="btnTrain">ลงทะเบียน</button></div>
          </div>
    </div>

</section>