
<section>
   <div class='title'>ข้อมูลพนักงาน</div>
    <div class='avatar'><img class="avatar__image" src="https://image.shutterstock.com/image-vector/avatar-businesswoman-portrait-circle-vector-260nw-572528593.jpg" /></div>
    <div class="employeeId">1292468</div>
    <div class="name">นางสางอิอิ อิอิ</div>
   <div class="grid-area">
      <table>
        <tr>
            <th>NO.</th>
            <th>หลักสูตร</th>
            <th>ผู้อบรม</th>
            <th>วันที่</th>
            <th>ชั่วโมง</th>
            <th>หมายเหตุ</th>
        </tr>
        <tr>
            <td>1</td>
            <td>อบรมพนักงานใหม่</td>
            <td>คุณจันทรฺ์ อังคาร</td>
            <td>25 ส.ค.64</td>
            <td>8</td>
            <td><span><button class="btmregistered">ลงทะเบียนแล้ว</button></span>
                <span><button class="btncancel">ยกเลิก</button></span></td>
        </tr>
        <tr>
            <td>2</td>
            <td>อบรมพนักงานใหม่</td>
            <td>คุณจันทรฺ์ อังคาร</td>
            <td>25 ส.ค.64</td>
            <td>8</td>
            <td>  <span><button class="btmregistered">ลงทะเบียนแล้ว</button></span>
            
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>อบรมพนักงานใหม่</td>
            <td>คุณจันทรฺ์ อังคาร</td>
            <td>25 ส.ค.64</td>
            <td>8</td>
            <td>  
                  <span><button class="btntrained">อบรมแล้ว</button></span>
            </td>
        </tr>

      </table>
</div>


</section>