<aside>
    
   
 
 
 
<div class="navigation">
            <ul>
                <li> 
                    <a routerLink="/main">
                        <span class='icon'><i class="material-icons" aria-hidden="true">assignment</i>
                        </span>
                        <span class='title'>หลักสูตรอบรม</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/login" *ngIf=!loggedIn>
                        <span class='icon'><i class="material-icons" aria-hidden="true">login</i>
                        </span>
                        <span class='title'>เข้าสู่ระบบ</span>
                    </a>

                    <a href="#" (click)="logout($event)" *ngIf=loggedIn>
                        <span class='icon'><i class="material-icons" aria-hidden="true">logout</i>
                        </span>
                        <span class='title'>ออกจากระบบ</span>
                    </a>
                 
                </li>
            </ul>

        </div>
    
    <div><p>copyright @ 2021 by Benyathip Arsayoott</p></div>

</aside>

