
<section>
   
    <div class="card">
        <div class="headLogin">
            
            <label for="headLogin">เข้าใช้งาน</label> 
        </div>
        <div class="userLogin">
            <input type="text" size="50" placeholder="Username" >
        </div>
        <div class="userPassword">
            <input type="password" size="50" placeholder="Your password" >
        </div>
        <div class="rememberUser">
            <div class="rememberUserIn">
            <input type="radio">
            <label>จำฉันไว้ในระบบ</label>
            </div>
         </div>
         <div class="submitLogin">
            <input type="submit" value="เข้าสู่ระบบ">
         </div>
    </div>
   
</section>